In [1]:
import pandas as pd
import numpy as np

# Import data from clean file
df = pd.read_csv('tehmeerali/datasets/metadata_clean1/metadata_clean1.csv')

# Plot Description Based Recommender

In [2]:
df.head()

,title,genres,runtime,vote_average,vote_count,year
0,Toy Story,"['animation', 'comedy', 'family']",81.0,7.7,5415.0,1995
1,Jumanji,"['adventure', 'fantasy', 'family']",104.0,6.9,2413.0,1995
2,Grumpier Old Men,"['romance', 'comedy']",101.0,6.5,92.0,1995
3,Waiting to Exhale,"['comedy', 'drama', 'romance']",127.0,6.1,34.0,1995
4,Father of the Bride Part II,['comedy'],106.0,5.7,173.0,1995

In [3]:
# Import the original file 
orig_df = pd.read_csv('tehmeerali/datasets/metadata_clean1/movies_metadata.csv', low_memory=False)

In [4]:
# Add the userful features into the cleaned dataframe 
df['overview'], df['id'] = orig_df['overview'], orig_df['id']

In [5]:
df.head()

,title,genres,runtime,vote_average,vote_count,year,overview,id
0,Toy Story,"['animation', 'comedy', 'family']",81.0,7.7,5415.0,1995,"Led by Woody, Andy's toys live happily in his ...",862
1,Jumanji,"['adventure', 'fantasy', 'family']",104.0,6.9,2413.0,1995,When siblings Judy and Peter discover an encha...,8844
2,Grumpier Old Men,"['romance', 'comedy']",101.0,6.5,92.0,1995,A family wedding reignites the ancient feud be...,15602
3,Waiting to Exhale,"['comedy', 'drama', 'romance']",127.0,6.1,34.0,1995,"Cheated on, mistreated and stepped on, the wom...",31357
4,Father of the Bride Part II,['comedy'],106.0,5.7,173.0,1995,Just when George Banks has recovered from his ...,11862

In [6]:
# Import IfIdVectorizer from the scikit-learn library
from sklearn.feature_extraction.text import TfidfVectorizer

In [7]:
# Define a TD-IDF Vectorizer Object. Remove all English Stop Words
tfidf = TfidfVectorizer(stop_words='english')

In [8]:
# Replace NaN with an empty string
df['overview'] = df['overview'].fillna('')

In [9]:
# Construct the required TF-IDF matrix by applying the fit_transform method on the overview feature
tfidf_matrix = tfidf.fit_transform(df['overview'])

In [10]:
print(tfidf_matrix)

  (0, 38088)	0.10739705953465474
  (0, 73468)	0.4809827114790238
  (0, 3159)	0.4117836571172595
  (0, 67874)	0.14878284660693247
  (0, 39012)	0.0871868917895906
  (0, 28729)	0.13311522181618415
  (0, 56872)	0.11124851086523602
  (0, 7491)	0.12380553184830105
  (0, 9087)	0.10635375129287979
  (0, 9874)	0.502803868613561
  (0, 38693)	0.2062792468281062
  (0, 58571)	0.11355918868736861
  (0, 1847)	0.140911774178889
  (0, 39423)	0.11907123344715954
  (0, 50914)	0.09190797940163037
  (0, 29238)	0.10093917370354447
  (0, 51108)	0.1343481728311918
  (0, 12490)	0.12544427954397822
  (0, 59519)	0.1300801610445509
  (0, 48558)	0.10339358185033236
  (0, 19641)	0.13281884272823927
  (0, 21887)	0.10438761058719499
  (0, 38030)	0.10142919482788752
  (0, 4388)	0.14748820342184052
  (0, 17764)	0.1348314953863925
  :	:
  (45464, 63811)	0.12338183251109078
  (45464, 19945)	0.13612977846000052
  (45464, 15394)	0.14870056078358065
  (45464, 20273)	0.16775054113971025
  (45465, 74030)	0.10752037301100263
  (45465, 73408)	0.13406907774931123
  (45465, 42466)	0.1268597967139243
  (45465, 30389)	0.23369802654538532
  (45465, 17977)	0.14001141857931762
  (45465, 17272)	0.20191670117693492
  (45465, 25817)	0.17461423458810646
  (45465, 11313)	0.14949019773176006
  (45465, 55174)	0.17708493489822558
  (45465, 740)	0.19703211365489742
  (45465, 23012)	0.1874388276102573
  (45465, 529)	0.19370637113116576
  (45465, 22285)	0.28696950868247834
  (45465, 3912)	0.22202762594955971
  (45465, 4443)	0.3118343036540515
  (45465, 34173)	0.24146569173027177
  (45465, 69170)	0.2281210087782138
  (45465, 15834)	0.24236871653353798
  (45465, 43243)	0.2365633241467926
  (45465, 7157)	0.29149321307007325
  (45465, 16520)	0.3237330788694511

In [11]:
# Output the shape of tfdif_matrix
tfidf_matrix.shape

(45466, 75827)

In [12]:
# Import linear_kernal to compute the dot product
from sklearn.metrics.pairwise import linear_kernel

In [13]:
# Compute the consine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

MemoryError:

In [ ]:
# Construct a reverse mapping of indices and movie titles, and drop duplicate titles, if any
indices = pd.Series(df.index, index=df['title']).drop_duplicates()

In [14]:
# a Function that takes in movie title as an input and gives recommendations
def content_recommender(title, cosine_sim=cosine_sim, df=df, indices=indices):
    # Obtain the index of the movie that matches the title
    idx = indices[title]
    
    # Get the pairwise similarity scores of all movies with that movie
    # And convert it into a list of tuples as descriped above
    sim_scores = list(enumerate(consine_sim[idx]))
    
    # Sort the movies based on the cosine similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Get the scores of the 10 most similar movies. Ignore the first movie.
    sim_scores = sim_scores[1:11]
    
    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]
    
    # Return the top ten most similar movies
    return df['title'].iloc[movie_indices]

NameError: name 'cosine_sim' is not defined

In [ ]:
#Get recommendations for The Lion King
content_recommender('The Lion King')